<nav>
    <h1><a href="/"><b>LOGO</b></a></h1>
    <ul>
        <% if (user) { %>
            <li>Welcome, <%= user.nickName %></li>
            <li><a href="/add-blog" class="btn">Add Post</a></li>
            <li><a href="/logout">Log Out</a></li>
        <% } else { %>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup" class="btn">Sign Up</a></li>
        <% } %>
    </ul>
</nav>